@import "tailwindcss";

@theme {
    /* Backgrounds */
    --color-surface-base: #0a0e27;
    --color-surface-elevated: #0f1433;
    --color-surface-highlight: #1a1f4a;

    /* Brand Colors */
    --color-accent-primary: #FFD700;
    --color-accent-secondary: #FFA500;

}